*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

body{
    background-color: #141A28;
}

/* VARIAVEIS */
@mixin menu-btn{
    height: 50px;
    width: 50px;
    margin-left: auto;
    font-size: 2em !important;
    background-color: transparent;
    border: 2px solid #E20E46;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
    align-self: center;

    &:hover{
        background-color: #E20E46;
    }
}

/*------------------------------ HEADER ------------------------------*/
header{
    display: flex;
    max-width: 1250px;
    margin: auto;
    padding: 15px 3vh;
    min-height: 125px;

    nav{
        display: flex;
        margin-left: auto;
        align-self: center;

        a{
            text-decoration: none;
            margin-left: 40px;
            font-size: 1em;
            padding: 5px 15px;
            transition: .2s;

            &#quem-somos:hover{
                color: #EBB02A;
            }

            &#solucoes{
                &:hover{
                    color: #EBB02A;

                    + .dropdown{
                        height: 5em;
                    }
                }
            }

            &#contato{
                border: 2px solid #E20E46;
                border-radius: 5px;
                transition: 0.2s;

                &:hover{
                    background-color: #E20E46;
                }
            }
        }

        .submenu{
            display: flex;

            .dropdown{
                display: grid;
                position: absolute;
                margin-top: 30px;
                transition: .5s;
                height: 0;
                overflow: hidden;

                &:hover{
                    height: 5em;
                }

                a:hover{
                    color: #EBB02A;
                }
            }
        }
    }

    button{
        display: none !important;
        @include menu-btn();
    }
}

/* tela de menu mobile */
#menu{
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0e131d;
    transform: translateX(-100vw);
    transition: .7s;
    padding: 30px;
    gap: 30px;

    &.active{
        transform: translateX(0vw);
    }

    .top{
        display: flex;
        padding-bottom: 25px;

        img{
            max-width: 125px;
        }
    
        button{
            @include menu-btn();
        }
    }

    a{
        text-decoration: none;
        font-size: 1.1em;
        width: fit-content;
        transition: 0.2s;

        &:hover{
            color: #EBB02A;
        }
    }

    .dropdown{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 20px;
        padding-top: 20px;
    }

    .redes{
        margin: auto auto 0 auto;

        img{
            width: 42px;
            margin: 0 5px;
        }
    }
}

/* tira a logo da header na home */
.home{
    #logo{
        display: none;
    }
}

/* deixa o btn quem somos da nav ativo */
.quem-somos{
    #quem-somos{
        color: #EBB02A;
    }
}

/* deixa o btn soluções da nav ativo */
.solucoes{
    #solucoes{
        color: #EBB02A;
    }
}

/* deixa o btn contato da nav ativo */
.contato{
    #contato{
        background-color: #E20E46;
    }
}

/* breakdown p/ mobile */
@media only screen and (max-width: 767px) {
header{
    #logo{
        max-width: 125px;
        align-self: center;
    }

    nav{
        display: none;
    }

    button{
        display: block !important;
    }
}
}