<header>
    <img src="../content/logo.png" alt="Coletivo 8 - Marketing e Design" id="logo" data-aos="fade-down">
    <nav data-aos="fade-down" data-aos-delay="100">
        <a href="#" id="quem-somos">Quem Somos</a>
        <div class="submenu">
            <a href="#" id="solucoes">Soluções</a>
            <div class="dropdown">
                <a href="#">Design</a>
                <a href="#">MKT Digital</a>
                <a href="#">Sites</a>
            </div>
        </div>
        <a href="#" id="contato">Contato</a>
    </nav>
    <button class="material-symbols-outlined" onclick="menu()" data-aos="fade-down" data-aos-delay="100">menu</button>
</header>

<div id="menu" class="active">
    <div class="top">
        <img src="../content/logo.png" alt="Coletivo 8 - Marketing e Design">
        <button class="material-symbols-outlined" onclick="menu()">close</button>
    </div>
    <a href="#" id="quem-somos">Quem Somos</a>
    <div class="submenu">
        <a href="#" id="solucoes">Soluções</a>
        <div class="dropdown">
            <a href="#">Design</a>
            <a href="#">MKT Digital</a>
            <a href="#">Sites</a>
        </div>
    </div>
    <a href="#" id="contato">Contato</a>
    <div class="redes">
        <a href="#"><img src="../content/ico-face.png"></a>
        <a href="#"><img src="../content/ico-insta.png"></a>
        <a href="#"><img src="../content/ico-tik.png"></a>
    </div>
</div>